* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-heading: "Rajdhani", sans-serif;
  --shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.icon {
  width: 60px;
  height: auto;
}

.heading {
  font-size: 4.5rem;
  font-weight: 300;
  font-family: var(--font-heading);
}

/*NEWBOOK BUTTON*/
.new-book-container {
  width: 100%;
  margin-top: 10px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-book-bttn {
  border: 1px solid black;
  background-color: white;
  font-size: 1.5rem;
  padding: 20px 40px;
  border-radius: 12px;
  width: 60%;
  transition: all 0.5s ease;
}
.new-book-bttn:hover {
  color: white;
  cursor: pointer;
  background: black;
  box-shadow: var(--shadow);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

/*MODAL/FORM*/
.modal {
  width: 400px;
  height: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#closing-div {
  height: 100%;
  width: 100%;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.input-container > input {
  padding: 20px;
}

/*CARDS*/
.card-container {
  width: 100vw;
  height: auto;
  margin: 40px;
  display: flex;
  gap: 60px;
}

.list-ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 20px;
}

.list-li {
  font-size: 2.5rem;
}
